article
	float left
	transform skew(-15deg)
	overflow hidden
	position absolute
	left -85px
	right -85px
	top 0
	bottom 0
	box-shadow 0 0 15px black
	img 
		width 100%
		height 100%
	&:first-child
		right 50%
		img
			transform skew(15deg)
			float right
			margin-right -85px
	&:last-child
		left 50%
		img
			transform skew(15deg)
			float left
			margin-left -85px
	&:after
		content: ""
		position absolute
		left 0
		right 0
		top 0
		bottom 0
		box-shadow inset 0 0 450px black
