panelcolor = #f6f6f6
angle = 30deg
bordercolor = #ccc

section
	position absolute
	left 0
	right 0
	top 0
	bottom 0
	header, footer
		position absolute
		z-index 1
		left -1px
		right -1px
		min-height 40%
		height 40%
		max-height 40%
		transition all 0.5s ease-in-out
		background panelcolor
		overflow hidden
		border solid 1px bordercolor
		box-shadow 0 5px 5px bordercolor inset
		article 
			display block
			padding 25px
			background panelcolor
		&:hover
			z-index 3
			max-height 70%
			height auto
			transform translateX(0)
			overflow auto
	header
		top -1px
		transform translateX(-100%)
	footer
		bottom -1px
		transform translateX(100%)
	> article
		display block
		position absolute
		z-index 2
		width 400px
		height 200px
		top 50%
		left 50%
		margin -100px 0 0 -200px
		line-height 200px
		text-align center
		p 
			font-family Times
			display inline-block
			color black
			transform skew((- angle), 0)
			overflow hidden
			font-size 56pt
			vertical-align middle
			text-align center
			margin -5px 0
			span 
				font-family Arial
				font-weight 100
				display inline-block
				color #48f
				font-size 42pt
				transform skew(angle, 0)
				margin 15px 0 0 -10px
				small 
					display inline-block
					font-size inherit
					transition all 0.5s ease-in-out
					transform-origin 100% 50%
					transform translateX(60px)
					width 5px
					overflow hidden
					float right
		&:hover 
			p
				margin-right -5px  
				small 
					transform translateX(0)
					width 155px
			& ~ header, & ~ footer
				background panelcolor
				transform translateX(0)
		


@media (max-width770px) 
	totalwidth = 700px
	asidewidth = 200px
	headerheight = 200px
	header 
		height headerheight
		text-align center
		line-height headerheight
		.container 
			width totalwidth
		a 
			opacity 1
	.container.rest
		overflow auto
		top headerheight
		width totalwidth
		margin-left -(totalwidth / 2)
		section
			width ( totalwidth  - asidewidth - 1 )
		aside
			width asidewidth
@media (max-width360px) 
	totalwidth = 360px
	headerheight = 150px
	header 
		height headerheight
		text-align center
		line-height headerheight
		.container 
			width totalwidth
		a 
			opacity 1
	.container.rest
		overflow auto
		top headerheight
		width totalwidth
		margin-left -(totalwidth / 2)
		section
			width totalwidth
			display block
			float none
		aside
			width totalwidth
			display block
			float none
			44border-radius 0
