body,
html {
  background: #fff;
}
body {
  width: 100%;
  height: 100%;
  font-size: 10pt;
  font-family: "Open Sans", sans-serif;
  color: #242424;
}
body:not(.landing) aside nav {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 75px;
}
body:not(.landing) aside nav li {
  width: 81.33333333333333px;
  height: 75px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255,255,255,0.2)), color-stop(1, rgba(255,255,255,0.1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.1) 100%);
  background: -moz-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.1) 100%);
  background: linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.1) 100%);
  display: inline-block;
  float: left;
  border-right: solid 1px rgba(0,0,0,0.1);
  border-left: solid 1px rgba(255,255,255,0.1);
  text-align: center;
  position: relative;
}
body:not(.landing) aside nav li:first-child {
  width: 82.33333333333333px;
  border-left: none;
}
body:not(.landing) aside nav li:last-child {
  width: 82.33333333333333px;
  border-right: none;
}
body:not(.landing) aside nav li i {
  line-height: 75px !important;
  width: 100% !important;
  height: 100% !important;
  color: #fff;
  font-size: 35px !important;
  opacity: 0.2;
  filter: alpha(opacity=20);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
body:not(.landing) aside nav li span {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  bottom: 0;
  color: rgba(255,255,255,0.2);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
body:not(.landing) aside nav li:hover i {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  text-shadow: 0 0 25px #666;
}
body:not(.landing) aside nav li:hover span {
  top: 66%;
}
body:not(.landing) aside section {
  background: #000;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 75px;
  overflow: hidden;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
body:not(.landing) aside section article {
  display: block;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(0,0,0,0)), color-stop(0.66, rgba(0,0,0,0)), color-stop(1, rgba(0,0,0,0.2))) #001a33;
  background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0, rgba(0,0,0,0) 66%, rgba(0,0,0,0.2) 100%) #001a33;
  background: -moz-linear-gradient(left, rgba(0,0,0,0) 0, rgba(0,0,0,0) 66%, rgba(0,0,0,0.2) 100%) #001a33;
  background: -o-linear-gradient(left, rgba(0,0,0,0) 0, rgba(0,0,0,0) 66%, rgba(0,0,0,0.2) 100%) #001a33;
  background: -ms-linear-gradient(left, rgba(0,0,0,0) 0, rgba(0,0,0,0) 66%, rgba(0,0,0,0.2) 100%) #001a33;
  background: linear-gradient(left, rgba(0,0,0,0) 0, rgba(0,0,0,0) 66%, rgba(0,0,0,0.2) 100%) #001a33;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 0;
  left: 0;
  right: 0;
  padding: 15px;
  color: #fff;
  -webkit-animation: paneLeft 0.5s forwards ease-out 0.5s;
  -moz-animation: paneLeft 0.5s forwards ease-out 0.5s;
  -o-animation: paneLeft 0.5s forwards ease-out 0.5s;
  -ms-animation: paneLeft 0.5s forwards ease-out 0.5s;
  animation: paneLeft 0.5s forwards ease-out 0.5s;
}
body:not(.landing) aside section article#server div {
  text-align: center;
  margin: 25px 0;
}
body:not(.landing) aside section article.active.bottomVariant {
  top: -100%;
  bottom: 100%;
  -webkit-animation: paneDown 0.5s forwards ease-in 0.5s;
  -moz-animation: paneDown 0.5s forwards ease-in 0.5s;
  -o-animation: paneDown 0.5s forwards ease-in 0.5s;
  -ms-animation: paneDown 0.5s forwards ease-in 0.5s;
  animation: paneDown 0.5s forwards ease-in 0.5s;
}
body:not(.landing) aside section article.active.topVariant {
  top: 100%;
  bottom: -100%;
  -webkit-animation: paneUp 0.5s forwards ease-in 0.5s;
  -moz-animation: paneUp 0.5s forwards ease-in 0.5s;
  -o-animation: paneUp 0.5s forwards ease-in 0.5s;
  -ms-animation: paneUp 0.5s forwards ease-in 0.5s;
  animation: paneUp 0.5s forwards ease-in 0.5s;
}
body:not(.landing) aside section article.active + article,
body:not(.landing) aside section article.active + article + article {
  -webkit-animation: paneRight 0.5s forwards ease-out 0.5s;
  -moz-animation: paneRight 0.5s forwards ease-out 0.5s;
  -o-animation: paneRight 0.5s forwards ease-out 0.5s;
  -ms-animation: paneRight 0.5s forwards ease-out 0.5s;
  animation: paneRight 0.5s forwards ease-out 0.5s;
}
@-moz-keyframes paneDown {
  0% {
    top: -100%;
    bottom: 100%;
    left: 0;
    right: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: scale(0.6) translateY(0);
    -moz-transform: scale(0.6) translateY(0);
    -o-transform: scale(0.6) translateY(0);
    -ms-transform: scale(0.6) translateY(0);
    transform: scale(0.6) translateY(0);
    z-index: 2;
  }

  66% {
    top: -100%;
    bottom: 100%;
    left: 0;
    right: 0;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: scale(0.6) translateY(140%);
    -moz-transform: scale(0.6) translateY(140%);
    -o-transform: scale(0.6) translateY(140%);
    -ms-transform: scale(0.6) translateY(140%);
    transform: scale(0.6) translateY(140%);
    z-index: 2;
  }

  100% {
    top: -100%;
    bottom: 100%;
    left: 0;
    right: 0;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    z-index: 2;
    -webkit-transform: scale(1) translateY(100%);
    -moz-transform: scale(1) translateY(100%);
    -o-transform: scale(1) translateY(100%);
    -ms-transform: scale(1) translateY(100%);
    transform: scale(1) translateY(100%);
  }
}
@-webkit-keyframes paneDown {
  0% {
    top: -100%;
    bottom: 100%;
    left: 0;
    right: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: scale(0.6) translateY(0);
    -moz-transform: scale(0.6) translateY(0);
    -o-transform: scale(0.6) translateY(0);
    -ms-transform: scale(0.6) translateY(0);
    transform: scale(0.6) translateY(0);
    z-index: 2;
  }

  66% {
    top: -100%;
    bottom: 100%;
    left: 0;
    right: 0;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: scale(0.6) translateY(140%);
    -moz-transform: scale(0.6) translateY(140%);
    -o-transform: scale(0.6) translateY(140%);
    -ms-transform: scale(0.6) translateY(140%);
    transform: scale(0.6) translateY(140%);
    z-index: 2;
  }

  100% {
    top: -100%;
    bottom: 100%;
    left: 0;
    right: 0;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    z-index: 2;
    -webkit-transform: scale(1) translateY(100%);
    -moz-transform: scale(1) translateY(100%);
    -o-transform: scale(1) translateY(100%);
    -ms-transform: scale(1) translateY(100%);
    transform: scale(1) translateY(100%);
  }
}
@-o-keyframes paneDown {
  0% {
    top: -100%;
    bottom: 100%;
    left: 0;
    right: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: scale(0.6) translateY(0);
    -moz-transform: scale(0.6) translateY(0);
    -o-transform: scale(0.6) translateY(0);
    -ms-transform: scale(0.6) translateY(0);
    transform: scale(0.6) translateY(0);
    z-index: 2;
  }

  66% {
    top: -100%;
    bottom: 100%;
    left: 0;
    right: 0;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: scale(0.6) translateY(140%);
    -moz-transform: scale(0.6) translateY(140%);
    -o-transform: scale(0.6) translateY(140%);
    -ms-transform: scale(0.6) translateY(140%);
    transform: scale(0.6) translateY(140%);
    z-index: 2;
  }

  100% {
    top: -100%;
    bottom: 100%;
    left: 0;
    right: 0;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    z-index: 2;
    -webkit-transform: scale(1) translateY(100%);
    -moz-transform: scale(1) translateY(100%);
    -o-transform: scale(1) translateY(100%);
    -ms-transform: scale(1) translateY(100%);
    transform: scale(1) translateY(100%);
  }
}
@-ms-keyframes paneDown {
  0% {
    top: -100%;
    bottom: 100%;
    left: 0;
    right: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: scale(0.6) translateY(0);
    -moz-transform: scale(0.6) translateY(0);
    -o-transform: scale(0.6) translateY(0);
    -ms-transform: scale(0.6) translateY(0);
    transform: scale(0.6) translateY(0);
    z-index: 2;
  }

  66% {
    top: -100%;
    bottom: 100%;
    left: 0;
    right: 0;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: scale(0.6) translateY(140%);
    -moz-transform: scale(0.6) translateY(140%);
    -o-transform: scale(0.6) translateY(140%);
    -ms-transform: scale(0.6) translateY(140%);
    transform: scale(0.6) translateY(140%);
    z-index: 2;
  }

  100% {
    top: -100%;
    bottom: 100%;
    left: 0;
    right: 0;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    z-index: 2;
    -webkit-transform: scale(1) translateY(100%);
    -moz-transform: scale(1) translateY(100%);
    -o-transform: scale(1) translateY(100%);
    -ms-transform: scale(1) translateY(100%);
    transform: scale(1) translateY(100%);
  }
}
@keyframes paneDown {
  0% {
    top: -100%;
    bottom: 100%;
    left: 0;
    right: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: scale(0.6) translateY(0);
    -moz-transform: scale(0.6) translateY(0);
    -o-transform: scale(0.6) translateY(0);
    -ms-transform: scale(0.6) translateY(0);
    transform: scale(0.6) translateY(0);
    z-index: 2;
  }

  66% {
    top: -100%;
    bottom: 100%;
    left: 0;
    right: 0;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: scale(0.6) translateY(140%);
    -moz-transform: scale(0.6) translateY(140%);
    -o-transform: scale(0.6) translateY(140%);
    -ms-transform: scale(0.6) translateY(140%);
    transform: scale(0.6) translateY(140%);
    z-index: 2;
  }

  100% {
    top: -100%;
    bottom: 100%;
    left: 0;
    right: 0;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    z-index: 2;
    -webkit-transform: scale(1) translateY(100%);
    -moz-transform: scale(1) translateY(100%);
    -o-transform: scale(1) translateY(100%);
    -ms-transform: scale(1) translateY(100%);
    transform: scale(1) translateY(100%);
  }
}
@-moz-keyframes paneUp {
  0% {
    top: 100%;
    bottom: -100%;
    left: 0;
    right: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: scale(0.6) translateY(0);
    -moz-transform: scale(0.6) translateY(0);
    -o-transform: scale(0.6) translateY(0);
    -ms-transform: scale(0.6) translateY(0);
    transform: scale(0.6) translateY(0);
    z-index: 2;
  }

  66% {
    top: 100%;
    bottom: -100%;
    left: 0;
    right: 0;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: scale(0.6) translateY(-140%);
    -moz-transform: scale(0.6) translateY(-140%);
    -o-transform: scale(0.6) translateY(-140%);
    -ms-transform: scale(0.6) translateY(-140%);
    transform: scale(0.6) translateY(-140%);
    z-index: 2;
  }

  100% {
    top: 100%;
    bottom: -100%;
    left: 0;
    right: 0;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    z-index: 2;
    -webkit-transform: scale(1) translateY(-100%);
    -moz-transform: scale(1) translateY(-100%);
    -o-transform: scale(1) translateY(-100%);
    -ms-transform: scale(1) translateY(-100%);
    transform: scale(1) translateY(-100%);
  }
}
@-webkit-keyframes paneUp {
  0% {
    top: 100%;
    bottom: -100%;
    left: 0;
    right: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: scale(0.6) translateY(0);
    -moz-transform: scale(0.6) translateY(0);
    -o-transform: scale(0.6) translateY(0);
    -ms-transform: scale(0.6) translateY(0);
    transform: scale(0.6) translateY(0);
    z-index: 2;
  }

  66% {
    top: 100%;
    bottom: -100%;
    left: 0;
    right: 0;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: scale(0.6) translateY(-140%);
    -moz-transform: scale(0.6) translateY(-140%);
    -o-transform: scale(0.6) translateY(-140%);
    -ms-transform: scale(0.6) translateY(-140%);
    transform: scale(0.6) translateY(-140%);
    z-index: 2;
  }

  100% {
    top: 100%;
    bottom: -100%;
    left: 0;
    right: 0;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    z-index: 2;
    -webkit-transform: scale(1) translateY(-100%);
    -moz-transform: scale(1) translateY(-100%);
    -o-transform: scale(1) translateY(-100%);
    -ms-transform: scale(1) translateY(-100%);
    transform: scale(1) translateY(-100%);
  }
}
@-o-keyframes paneUp {
  0% {
    top: 100%;
    bottom: -100%;
    left: 0;
    right: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: scale(0.6) translateY(0);
    -moz-transform: scale(0.6) translateY(0);
    -o-transform: scale(0.6) translateY(0);
    -ms-transform: scale(0.6) translateY(0);
    transform: scale(0.6) translateY(0);
    z-index: 2;
  }

  66% {
    top: 100%;
    bottom: -100%;
    left: 0;
    right: 0;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: scale(0.6) translateY(-140%);
    -moz-transform: scale(0.6) translateY(-140%);
    -o-transform: scale(0.6) translateY(-140%);
    -ms-transform: scale(0.6) translateY(-140%);
    transform: scale(0.6) translateY(-140%);
    z-index: 2;
  }

  100% {
    top: 100%;
    bottom: -100%;
    left: 0;
    right: 0;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    z-index: 2;
    -webkit-transform: scale(1) translateY(-100%);
    -moz-transform: scale(1) translateY(-100%);
    -o-transform: scale(1) translateY(-100%);
    -ms-transform: scale(1) translateY(-100%);
    transform: scale(1) translateY(-100%);
  }
}
@-ms-keyframes paneUp {
  0% {
    top: 100%;
    bottom: -100%;
    left: 0;
    right: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: scale(0.6) translateY(0);
    -moz-transform: scale(0.6) translateY(0);
    -o-transform: scale(0.6) translateY(0);
    -ms-transform: scale(0.6) translateY(0);
    transform: scale(0.6) translateY(0);
    z-index: 2;
  }

  66% {
    top: 100%;
    bottom: -100%;
    left: 0;
    right: 0;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: scale(0.6) translateY(-140%);
    -moz-transform: scale(0.6) translateY(-140%);
    -o-transform: scale(0.6) translateY(-140%);
    -ms-transform: scale(0.6) translateY(-140%);
    transform: scale(0.6) translateY(-140%);
    z-index: 2;
  }

  100% {
    top: 100%;
    bottom: -100%;
    left: 0;
    right: 0;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    z-index: 2;
    -webkit-transform: scale(1) translateY(-100%);
    -moz-transform: scale(1) translateY(-100%);
    -o-transform: scale(1) translateY(-100%);
    -ms-transform: scale(1) translateY(-100%);
    transform: scale(1) translateY(-100%);
  }
}
@keyframes paneUp {
  0% {
    top: 100%;
    bottom: -100%;
    left: 0;
    right: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: scale(0.6) translateY(0);
    -moz-transform: scale(0.6) translateY(0);
    -o-transform: scale(0.6) translateY(0);
    -ms-transform: scale(0.6) translateY(0);
    transform: scale(0.6) translateY(0);
    z-index: 2;
  }

  66% {
    top: 100%;
    bottom: -100%;
    left: 0;
    right: 0;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: scale(0.6) translateY(-140%);
    -moz-transform: scale(0.6) translateY(-140%);
    -o-transform: scale(0.6) translateY(-140%);
    -ms-transform: scale(0.6) translateY(-140%);
    transform: scale(0.6) translateY(-140%);
    z-index: 2;
  }

  100% {
    top: 100%;
    bottom: -100%;
    left: 0;
    right: 0;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    z-index: 2;
    -webkit-transform: scale(1) translateY(-100%);
    -moz-transform: scale(1) translateY(-100%);
    -o-transform: scale(1) translateY(-100%);
    -ms-transform: scale(1) translateY(-100%);
    transform: scale(1) translateY(-100%);
  }
}
@-moz-keyframes paneLeft {
  0% {
    z-index: 1;
    left: -300px;
    right: 300px;
    -webkit-transform: scale(1) translateX(100%);
    -moz-transform: scale(1) translateX(100%);
    -o-transform: scale(1) translateX(100%);
    -ms-transform: scale(1) translateX(100%);
    transform: scale(1) translateX(100%);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  66% {
    left: -300px;
    right: 300px;
    -webkit-transform: scale(0.6) translateX(80%);
    -moz-transform: scale(0.6) translateX(80%);
    -o-transform: scale(0.6) translateX(80%);
    -ms-transform: scale(0.6) translateX(80%);
    transform: scale(0.6) translateX(80%);
    opacity: 1;
    -ms-filter: none;
    filter: none;
    z-index: 1;
  }

  100% {
    z-index: 1;
    left: -300px;
    right: 300px;
    -webkit-transform: scale(0.6) translateX(0);
    -moz-transform: scale(0.6) translateX(0);
    -o-transform: scale(0.6) translateX(0);
    -ms-transform: scale(0.6) translateX(0);
    transform: scale(0.6) translateX(0);
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-webkit-keyframes paneLeft {
  0% {
    z-index: 1;
    left: -300px;
    right: 300px;
    -webkit-transform: scale(1) translateX(100%);
    -moz-transform: scale(1) translateX(100%);
    -o-transform: scale(1) translateX(100%);
    -ms-transform: scale(1) translateX(100%);
    transform: scale(1) translateX(100%);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  66% {
    left: -300px;
    right: 300px;
    -webkit-transform: scale(0.6) translateX(80%);
    -moz-transform: scale(0.6) translateX(80%);
    -o-transform: scale(0.6) translateX(80%);
    -ms-transform: scale(0.6) translateX(80%);
    transform: scale(0.6) translateX(80%);
    opacity: 1;
    -ms-filter: none;
    filter: none;
    z-index: 1;
  }

  100% {
    z-index: 1;
    left: -300px;
    right: 300px;
    -webkit-transform: scale(0.6) translateX(0);
    -moz-transform: scale(0.6) translateX(0);
    -o-transform: scale(0.6) translateX(0);
    -ms-transform: scale(0.6) translateX(0);
    transform: scale(0.6) translateX(0);
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-o-keyframes paneLeft {
  0% {
    z-index: 1;
    left: -300px;
    right: 300px;
    -webkit-transform: scale(1) translateX(100%);
    -moz-transform: scale(1) translateX(100%);
    -o-transform: scale(1) translateX(100%);
    -ms-transform: scale(1) translateX(100%);
    transform: scale(1) translateX(100%);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  66% {
    left: -300px;
    right: 300px;
    -webkit-transform: scale(0.6) translateX(80%);
    -moz-transform: scale(0.6) translateX(80%);
    -o-transform: scale(0.6) translateX(80%);
    -ms-transform: scale(0.6) translateX(80%);
    transform: scale(0.6) translateX(80%);
    opacity: 1;
    -ms-filter: none;
    filter: none;
    z-index: 1;
  }

  100% {
    z-index: 1;
    left: -300px;
    right: 300px;
    -webkit-transform: scale(0.6) translateX(0);
    -moz-transform: scale(0.6) translateX(0);
    -o-transform: scale(0.6) translateX(0);
    -ms-transform: scale(0.6) translateX(0);
    transform: scale(0.6) translateX(0);
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-ms-keyframes paneLeft {
  0% {
    z-index: 1;
    left: -300px;
    right: 300px;
    -webkit-transform: scale(1) translateX(100%);
    -moz-transform: scale(1) translateX(100%);
    -o-transform: scale(1) translateX(100%);
    -ms-transform: scale(1) translateX(100%);
    transform: scale(1) translateX(100%);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  66% {
    left: -300px;
    right: 300px;
    -webkit-transform: scale(0.6) translateX(80%);
    -moz-transform: scale(0.6) translateX(80%);
    -o-transform: scale(0.6) translateX(80%);
    -ms-transform: scale(0.6) translateX(80%);
    transform: scale(0.6) translateX(80%);
    opacity: 1;
    -ms-filter: none;
    filter: none;
    z-index: 1;
  }

  100% {
    z-index: 1;
    left: -300px;
    right: 300px;
    -webkit-transform: scale(0.6) translateX(0);
    -moz-transform: scale(0.6) translateX(0);
    -o-transform: scale(0.6) translateX(0);
    -ms-transform: scale(0.6) translateX(0);
    transform: scale(0.6) translateX(0);
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@keyframes paneLeft {
  0% {
    z-index: 1;
    left: -300px;
    right: 300px;
    -webkit-transform: scale(1) translateX(100%);
    -moz-transform: scale(1) translateX(100%);
    -o-transform: scale(1) translateX(100%);
    -ms-transform: scale(1) translateX(100%);
    transform: scale(1) translateX(100%);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  66% {
    left: -300px;
    right: 300px;
    -webkit-transform: scale(0.6) translateX(80%);
    -moz-transform: scale(0.6) translateX(80%);
    -o-transform: scale(0.6) translateX(80%);
    -ms-transform: scale(0.6) translateX(80%);
    transform: scale(0.6) translateX(80%);
    opacity: 1;
    -ms-filter: none;
    filter: none;
    z-index: 1;
  }

  100% {
    z-index: 1;
    left: -300px;
    right: 300px;
    -webkit-transform: scale(0.6) translateX(0);
    -moz-transform: scale(0.6) translateX(0);
    -o-transform: scale(0.6) translateX(0);
    -ms-transform: scale(0.6) translateX(0);
    transform: scale(0.6) translateX(0);
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-moz-keyframes paneRight {
  0% {
    z-index: 1;
    left: 300px;
    right: -300px;
    -webkit-transform: scale(1) translateX(-100%);
    -moz-transform: scale(1) translateX(-100%);
    -o-transform: scale(1) translateX(-100%);
    -ms-transform: scale(1) translateX(-100%);
    transform: scale(1) translateX(-100%);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  66% {
    z-index: 1;
    left: 300px;
    right: -300px;
    -webkit-transform: scale(0.6) translateX(-80%);
    -moz-transform: scale(0.6) translateX(-80%);
    -o-transform: scale(0.6) translateX(-80%);
    -ms-transform: scale(0.6) translateX(-80%);
    transform: scale(0.6) translateX(-80%);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  100% {
    z-index: 1;
    left: 300px;
    right: -300px;
    -webkit-transform: scale(0.6) translateX(0);
    -moz-transform: scale(0.6) translateX(0);
    -o-transform: scale(0.6) translateX(0);
    -ms-transform: scale(0.6) translateX(0);
    transform: scale(0.6) translateX(0);
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-webkit-keyframes paneRight {
  0% {
    z-index: 1;
    left: 300px;
    right: -300px;
    -webkit-transform: scale(1) translateX(-100%);
    -moz-transform: scale(1) translateX(-100%);
    -o-transform: scale(1) translateX(-100%);
    -ms-transform: scale(1) translateX(-100%);
    transform: scale(1) translateX(-100%);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  66% {
    z-index: 1;
    left: 300px;
    right: -300px;
    -webkit-transform: scale(0.6) translateX(-80%);
    -moz-transform: scale(0.6) translateX(-80%);
    -o-transform: scale(0.6) translateX(-80%);
    -ms-transform: scale(0.6) translateX(-80%);
    transform: scale(0.6) translateX(-80%);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  100% {
    z-index: 1;
    left: 300px;
    right: -300px;
    -webkit-transform: scale(0.6) translateX(0);
    -moz-transform: scale(0.6) translateX(0);
    -o-transform: scale(0.6) translateX(0);
    -ms-transform: scale(0.6) translateX(0);
    transform: scale(0.6) translateX(0);
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-o-keyframes paneRight {
  0% {
    z-index: 1;
    left: 300px;
    right: -300px;
    -webkit-transform: scale(1) translateX(-100%);
    -moz-transform: scale(1) translateX(-100%);
    -o-transform: scale(1) translateX(-100%);
    -ms-transform: scale(1) translateX(-100%);
    transform: scale(1) translateX(-100%);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  66% {
    z-index: 1;
    left: 300px;
    right: -300px;
    -webkit-transform: scale(0.6) translateX(-80%);
    -moz-transform: scale(0.6) translateX(-80%);
    -o-transform: scale(0.6) translateX(-80%);
    -ms-transform: scale(0.6) translateX(-80%);
    transform: scale(0.6) translateX(-80%);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  100% {
    z-index: 1;
    left: 300px;
    right: -300px;
    -webkit-transform: scale(0.6) translateX(0);
    -moz-transform: scale(0.6) translateX(0);
    -o-transform: scale(0.6) translateX(0);
    -ms-transform: scale(0.6) translateX(0);
    transform: scale(0.6) translateX(0);
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-ms-keyframes paneRight {
  0% {
    z-index: 1;
    left: 300px;
    right: -300px;
    -webkit-transform: scale(1) translateX(-100%);
    -moz-transform: scale(1) translateX(-100%);
    -o-transform: scale(1) translateX(-100%);
    -ms-transform: scale(1) translateX(-100%);
    transform: scale(1) translateX(-100%);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  66% {
    z-index: 1;
    left: 300px;
    right: -300px;
    -webkit-transform: scale(0.6) translateX(-80%);
    -moz-transform: scale(0.6) translateX(-80%);
    -o-transform: scale(0.6) translateX(-80%);
    -ms-transform: scale(0.6) translateX(-80%);
    transform: scale(0.6) translateX(-80%);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  100% {
    z-index: 1;
    left: 300px;
    right: -300px;
    -webkit-transform: scale(0.6) translateX(0);
    -moz-transform: scale(0.6) translateX(0);
    -o-transform: scale(0.6) translateX(0);
    -ms-transform: scale(0.6) translateX(0);
    transform: scale(0.6) translateX(0);
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@keyframes paneRight {
  0% {
    z-index: 1;
    left: 300px;
    right: -300px;
    -webkit-transform: scale(1) translateX(-100%);
    -moz-transform: scale(1) translateX(-100%);
    -o-transform: scale(1) translateX(-100%);
    -ms-transform: scale(1) translateX(-100%);
    transform: scale(1) translateX(-100%);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  66% {
    z-index: 1;
    left: 300px;
    right: -300px;
    -webkit-transform: scale(0.6) translateX(-80%);
    -moz-transform: scale(0.6) translateX(-80%);
    -o-transform: scale(0.6) translateX(-80%);
    -ms-transform: scale(0.6) translateX(-80%);
    transform: scale(0.6) translateX(-80%);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  100% {
    z-index: 1;
    left: 300px;
    right: -300px;
    -webkit-transform: scale(0.6) translateX(0);
    -moz-transform: scale(0.6) translateX(0);
    -o-transform: scale(0.6) translateX(0);
    -ms-transform: scale(0.6) translateX(0);
    transform: scale(0.6) translateX(0);
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
body:not(.landing) aside {
  background: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(0,0,0,0.2)), color-stop(0.66, rgba(0,0,0,0.2)), color-stop(1, rgba(0,0,0,0.6))) #001a33;
  background: -webkit-linear-gradient(left, rgba(0,0,0,0.2) 0, rgba(0,0,0,0.2) 66%, rgba(0,0,0,0.6) 100%) #001a33;
  background: -moz-linear-gradient(left, rgba(0,0,0,0.2) 0, rgba(0,0,0,0.2) 66%, rgba(0,0,0,0.6) 100%) #001a33;
  background: -o-linear-gradient(left, rgba(0,0,0,0.2) 0, rgba(0,0,0,0.2) 66%, rgba(0,0,0,0.6) 100%) #001a33;
  background: -ms-linear-gradient(left, rgba(0,0,0,0.2) 0, rgba(0,0,0,0.2) 66%, rgba(0,0,0,0.6) 100%) #001a33;
  background: linear-gradient(left, rgba(0,0,0,0.2) 0, rgba(0,0,0,0.2) 66%, rgba(0,0,0,0.6) 100%) #001a33;
  width: 250px;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  bottom: 0;
}
body:not(.landing) > article {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(0.98, #fff), color-stop(1, #eee)) #eee;
  background: -webkit-linear-gradient(top, #fff 0, #fff 98%, #eee 100%) #eee;
  background: -moz-linear-gradient(top, #fff 0, #fff 98%, #eee 100%) #eee;
  background: -o-linear-gradient(top, #fff 0, #fff 98%, #eee 100%) #eee;
  background: -ms-linear-gradient(top, #fff 0, #fff 98%, #eee 100%) #eee;
  background: linear-gradient(top, #fff 0, #fff 98%, #eee 100%) #eee;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}
body:not(.landing) > article.sidebaropen {
  left: 250px;
  right: -asidewidth;
}
body:not(.landing) > article #showhideappmenu {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  height: 25px;
  width: 25px;
  line-height: 25px;
  text-align: left;
  background: rgba(0,0,0,0.2);
  -webkit-border-radius: 25px;
  border-radius: 25px;
  margin: -17px 0 0 -17px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.2;
  filter: alpha(opacity=20);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
body:not(.landing) > article #showhideappmenu:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
body:not(.landing) > article #showhideappmenu i {
  margin-left: 14px;
}
body:not(.landing) #loadingscreen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  background: #fff;
  color: #0084ff;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
body:not(.landing) #loadingscreen.active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  z-index: 9;
}
body:not(.landing) #loadingscreen article {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 200px;
  height: 100px;
  margin: -50px 0 0 -100px;
  text-align: center;
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}
body:not(.landing) #loadingscreen article span {
  display: block;
}
body:not(.landing) #loadingscreen article span#loading {
  font-size: 72pt;
  color: #fff;
  text-shadow: 0 0 5px #1a90ff;
}
body:not(.landing).redtheme aside {
  background-color: #440f00;
}
body:not(.landing).redtheme aside section article {
  background-color: #440f00;
}
body.landing header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 300px;
  background: #000;
  text-align: center;
}
body.landing header .container {
  width: 1000px;
  position: relative;
  height: 100%;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 15px rgba(255,255,255,0.1);
  box-shadow: 0 0 15px rgba(255,255,255,0.1);
}
body.landing header article {
  float: left;
  -webkit-transform: skew(-15deg);
  -moz-transform: skew(-15deg);
  -o-transform: skew(-15deg);
  -ms-transform: skew(-15deg);
  transform: skew(-15deg);
  overflow: hidden;
  position: absolute;
  left: -85px;
  right: -85px;
  top: 0;
  bottom: 0;
  -webkit-box-shadow: 0 0 15px #000;
  box-shadow: 0 0 15px #000;
}
body.landing header article img {
  width: 100%;
  height: 100%;
}
body.landing header article:first-child {
  right: 50%;
}
body.landing header article:first-child img {
  -webkit-transform: skew(15deg);
  -moz-transform: skew(15deg);
  -o-transform: skew(15deg);
  -ms-transform: skew(15deg);
  transform: skew(15deg);
  float: right;
  margin-right: -85px;
}
body.landing header article:last-child {
  left: 50%;
}
body.landing header article:last-child img {
  -webkit-transform: skew(15deg);
  -moz-transform: skew(15deg);
  -o-transform: skew(15deg);
  -ms-transform: skew(15deg);
  transform: skew(15deg);
  float: left;
  margin-left: -85px;
}
body.landing header article:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-box-shadow: inset 0 0 450px #000;
  box-shadow: inset 0 0 450px #000;
}
body.landing header a {
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -100px;
  width: 200px;
  height: 50px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  line-height: 50px;
  font-size: 24pt;
  font-weight: bold;
  text-shadow: 0 1px 1px #fff;
  color: rgba(0,0,0,0.4);
  -webkit-box-shadow: none;
  box-shadow: none;
}
body.landing header a:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: rgba(0,0,0,0.8);
}
body.landing header:hover a {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
