&.fullscreen
	.dragdropplaceholder
		left 25px
	article 
		header nav#positionNav
			position fixed
			bottom auto
			left auto
			right 7px
			z-index: 999
			li
				&:first-child
					display none
				&:last-child
					border-top-left-radius radiusVar
					border-bottom-left-radius radiusVar
		section
			position fixed
			top 0
			bottom 0
			left 0
			right 0
			z-index 10
	aside
		transform perspective(1000px) rotateY(-90deg)
