section 
	position absolute
	left 0
	right 0
	top 46px
	bottom 46px
	overflow auto
	z-index 1
	background: #eee
	transition all 0.5s ease-in-out
	div
		position relative
	nav
		position absolute
		right 0
		top 15px
		li
			margin 5px
			padding 0 5px
			list-style none
			display inline-block
