> article
	left 0
	li
		&#sidebarToggle, &#uploadButton
			display none
		&#fullScreenToggle
			border-bottom-left-radius radiusVar
			border-top-left-radius radiusVar
			border-left none
	footer nav.left 
		left: 65px
