radiusVar2 = 5px
nav.contextMenu
	position absolute
	z-index: 999
	height 50px
	line-height 50px
	border-radius radiusVar2
	border solid 1px #ddd
	color #222
	background linear-gradient(top, #eee, #ccc 100%)
	text-shadow 0 0 1px white
	li
		padding 0 15px
		display inline-block
		border-left #eee
		border-right #ccc
		&:first-child
			border-left none
			border-top-left-radius radiusVar2
			border-bottom-left-radius radiusVar2
		&:last-child
			border-right none
			border-top-right-radius radiusVar2
			border-bottom-right-radius radiusVar2
		&:only-child
			border none
		&:hover
			background rgba(0, 0, 0, 0.4)
			color black
			cursor pointer
