::-webkit-scrollbar
	width 12px
	margin 10px 0

::-webkit-scrollbar-track
	box-shadow inset 0 0 6px rgba(0, 0, 0, 0.3)
	border-radius 10px

::-webkit-scrollbar-thumb
	border-radius 10px
	background lighten(blue, 25%)
	box-shadow inset 0 0 6px rgba(0, 0, 0, 0.5)
	transition all  0.5s  ease-in-out
	-o-transition all  0.5s  ease-in-out
	-ms-transition all  0.5s  ease-in-out
	-moz-transition all  0.5s  ease-in-out
	-webkit-transition all  0.5s  ease-in-out

::-webkit-scrollbar-thumb:hover
	background lighten(blue, 15%)

::-webkit-scrollbar-thumb:window-inactive
	background #ccc
