asidewidth = 250px
navbarheight = 75px
bluebasecolor = rgb(0, 132, 255)
bluebackgroundcolor = darken(bluebasecolor, 40)
redbasecolor = darken(rgb(255, 67, 16), 15)
redbackgroundcolor = darken(redbasecolor, 25)
basecolor = bluebasecolor
backgroundcolor = bluebackgroundcolor
optionssize = 50px