&#application
	background red
	z-index 2
	transform translateY(100%) scale(0.5) rotateX(45deg)
	.dragger
		&.help
			right 25px
			top 0
			border-top-right-radius 0
			border-top-left-radius 0
			border-top none
		&.landing
			left 25px
			bottom 0
			border-bottom-right-radius 0
			border-bottom-left-radius 0
			border-bottom none
