&.ng-scope
	.appcontainer
		margin 0
		padding 0
		position relative

	.approw
		display block
		position relative
		&.bordertop 
			border-top solid 1px #999
		p
			display block
			margin 0 120px 0 35px
			input
				padding 10px 0
				margin 10px 0
				height 10px
				line-height 10px
				width 100%
				text-indent 10px
		> i
			cursor pointer
			float left
			margin 20px 0
			height 10px
			&.icon-custom
				margin-right 5px
				&:before
					content: "\f078"
	
		nav
			position absolute
			right 5px
			top 10px
			li
				list-style none
