article
	transition all 1s ease-in-out
	position absolute
	left 0
	right 0
	top 0
	bottom 0
	transform-style preserve-3d
	backface-visibility hidden
	perspective 1600px
	&.activating
		z-index 2
		transform translateX(100%)
	&.activated
		z-index 2
		transform translateX(0)
	&.deactivated
		z-index -1
		transform translateX(-100%)
	> div
		transform translateX(0)
		transition all 0.5 ease-in-out
		position absolute
		left 0
		right 0
		top 0
		bottom 0
		transform-style preserve-3d
		backface-visibility hidden
		perspective 1600px
		&.sidebaropen
			trnasform translateX(-15px)
		canvas
			display block
			font-family "Open Sans"
			font-size 24pt
		> div
			transform rotateY(180deg)
			transform-style preserve-3d
			backface-visibility hidden
			transition all 1s ease-in-out
			position absolute
			top 0
			right 0
			left 0
			bottom 0
			z-index -1
			box-shadow none
			background white
			overflow-y auto
			&:first-child
				transform rotateY(-180deg)
			&.active
				transform rotateY(0)
				z-index 1
				box-shadow 0 0 15px black
