article > div
	transition transform 0.5s ease-in-out
	transform translateX(0)
	&.sidebaropen
		transform translateX( -(optionssize) )
	
article > div > nav
	position fixed
	right 0
	top 0
	bottom 0
	width optionssize
	transform translateX( optionssize )
	background #222
	overflow-y auto
	li
		list-style none
		width optionssize
		height optionssize
		box-shadow 0 0 optionssize #000 inset
		color #ddd
		text-align center
		line-height 50px
		&:hover
			color white
		&.space
			box-shadow none
		&.selected
			background #ccc
			box-shadow 0 0 (optionssize/2) rgba(0, 0, 0, 0.4) inset
			color black
	> li:first-child
			background basecolor
			box-shadow -(optionssize/2) 0 optionssize rgba(0, 0, 0, 0.4) inset
