.install
	display block
	width 200px
	height 50px
	line-height 50px
	color white
	border solid 1px #126488
	border-radius 15px
	font-weight bold
	text-shadow 0 -1px 1px black
	margin 15px 15px 15px 0
	&.ff
		background linear-gradient(top, #1264cc, darken(#1264cc, 20) 100%)
	&.run
		background linear-gradient(top, #00ff00, darken(#00ff00, 20) 100%)
