

aside
	@import "nav"
	@import "section"
	@import "list"

aside
	background linear-gradient(left, rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.2) 66%, rgba(0, 0, 0, 0.6) 100%) backgroundcolor
	width asidewidth
	position fixed
	z-index 1
	left 0
	top 0
	bottom 0
	transition all 0.5s ease-in-out
	transform translateX(-50%)
	opacity 0
	&.sidebaropen
		transform translateX(0)
		opacity 1

