.dragdropplaceholder
	position fixed
	bottom 70px
	top 70px
	left asideSize
	margin-left: 25px
	right 25px
	background rgba(0, 0, 0, 0.4)
	border-radius 25px
	border dashed 5px #ccc
	opacity 0
	z-index -1
	transition all 0.25s ease-in-out
	&.active
		opacity 1
		z-index 1
		&.hover
			background rgba(0, 0, 0, 0.8)
	span
		position absolute
		left 50%
		top 50%
		height 50px
		font-size: 21pt
		width: 250px;
		margin -25px 0 0 -125px
		line-height 50px
		color: #444
		text-shadow 0 0 5px white
		font-family Electrolize
