&.bluetheme
	#loadingscreen
		color bluebasecolor
	aside
		background-color bluebackgroundcolor
		nav li
			span
				text-shadow 0 0 1px bluebasecolor
			&:hover i
				text-shadow 0 0 25px bluebasecolor
		section article
			background-color bluebackgroundcolor
			form input[type="checkbox"]
				& ~ *
					background-color darken(bluebasecolor, 20)
				&:checked ~ *
					background-color lighten(bluebasecolor, 20)
	& > article section article > div > nav > li:first-child
		background bluebasecolor
