basecolor = #28f
&.newtheme
	#loadingscreen
		color basecolor
	aside
		background darken(basecolor, 40)
		> nav 
			li
				span 
					text-shadow 0 0 1px basecolor
				i 
					opacity 0.6
				&:hover i
					opacity 1
					text-shadow 0 0 1px basecolor
		section article
			background darken(basecolor, 50)
			form input[type="checkbox"]
				& ~ *
					background-color darken(basecolor, 20)
				&:checked ~ *
					background-color lighten(basecolor, 20)
	& > article section article > nav > li:first-child
		background basecolor
