#fourohfour
	font-family Electrolize
	header
		height 75%
		top -75%
		transition all 0.5s ease-in-out
		z-index inherit
		&:before
			position fixed
			left 0
			right 0
			top 0
			height 50px
			content "Hover me for more info"
			text-align center
			font-size 24pt
			color #ccc
			background linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(256, 256, 256, 0) 100%)
		&:hover
			top 0px

			&:before
				opacity 0
		h1
			z-index 0
			font-size 40pt
			position absolute
			left 0
			bottom 0
			opacity 0.5
		
		article, h2
			text-align center
			position absolute
			left 25%
			right 25%
			font-size 21pt
			font-family "Source Sans Pro"
			color #aaa
			text-shadow 0 0 1px white
			white-space pre-wrap
		
		h2
			color #666
			top 25%
			bottom 60%
		
		article 
			top 40%
			bottom 25%
		
	
	section
		h1
			position fixed
			text-align center
			top 50%
			left 50%
			margin -100px 0 0 -300px
			width 600px
			height 200px
			line-height 200px
			font-size 190pt
			font-weight 100
			cursor default
			color lighten( blue, 50 )
			a, avisited
				color inherit
				text-decoration none
			
		
	

