h1 
	&.huge 
		font-size 72pt
	
	&.big 
		font-size 48pt
	
	font-size 24pt

h2 
	&.huge 
		font-size 56pt
	
	&.big 
		font-size 38pt
	
	font-size 20pt

h3 
	&.huge
		font-size 36pt
	
	&.big
		font-size 28pt
	
	font-size 18pt

h4 
	&.huge 
		font-size 32pt
	
	&.big 
		font-size 26pt
	
	font-size 16pt

h5 
	&.huge 
		font-size 26pt
	
	&.big 
		font-size 21pt
	
	font-size 14pt

h6 
	&.huge 
		font-size 23pt
	
	&.big 
		font-size 18pt
	
	font-size 1em
