// Basic Styles
body
	font-family "Droid Sans", "Helvetica", sans-serif
	font-size: 10pt
	background #eee
	width 100%
	height 100%
	margin 0
	padding 0

// Grabbing vars
@import "variables"

// The rest of the imports 
// Otherwise it will not work
body
	@import "grid"
	@import "tables"
	@import "aside"
	@import "article"
