nav li
	&#sidebarToggle, &#fullScreenToggle, &#createOPML 
		i
			margin-right 0
	&#createOPML
		font-size 14pt

&.smallscreen
	li:hover
		i 
			margin-right 0
		p 
			display none

&.avgrund-active body
	transform none
	.avgrund-popup 
		position fixed