.dragdropplaceholder
	position fixed
	top 25px
	left 25px
	right 25px
	bottom 25px
	border-radius 25px
	border dashed 2px white
	background rgba(0, 0, 0, 0.4)
	z-index 99
	span
		position absolute
		top 50%
		right 0
		left 0
		margin -15px 0 0 0
		height 30px
		line-height 30px
		font-size 18pt
		color white
		text-shadow 0 0 2px black
		text-align center
